.scrollAnimate {
  opacity: 0;
  filter:blur(5px);
  transform: translateX(80px);
  transition: all 1s;
}

.scrollAnimate.show {
  opacity: 1;
  filter:blur(0px);
  transform: translateX(0);
}


.stackUsed {
  opacity: 0;
  filter:blur(5px);
  transform: translateX(-24rem);
  transition: all 1.3s;
}

.stackUsed.show3 {
  opacity: 1;
  filter:blur(0px);
  transform: translateX(0);
}


.scrollAnimate2{
    transform: translateX(-10rem);
  transition: all 1.2s;
}

.scrollAnimate2.show2 {
  transform: translateX(0);
}

/* untuk astro */
.scrollAstro {
  opacity :0;
  transform: translateX(-10rem);
  transition: all 1.2s;
}
.scrollAstro.show{
  opacity: 1;
  transform: translateX(0);
}


.star{
  filter:blur(5px);
  opacity: 0;
  transition: all 1.4s;
}

.star.show4 {
  filter:blur(0px);
  opacity: 1;
}

@media (max-width: 700px) {
        .stackUsed {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-10rem);
    transition: all 1.3s;
    }

    .stackUsed.show3 {
    opacity: 1;
    filter:blur(0px);
    transform: translateX(0);
    }


    .scrollAnimate2{
        transform: translateX(-5rem);
    transition: all 1s;
    }

    .scrollAnimate2.show2 {
    transform: translateX(0);
    }
}

.latarSVG {
  background-color: rgba(18, 59, 71, 1);
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%230b2f34'%3E%3C/rect%3E%3Cpath d='M0 219L16.7 220.5C33.3 222 66.7 225 100 225.2C133.3 225.3 166.7 222.7 200 203.5C233.3 184.3 266.7 148.7 300 136.2C333.3 123.7 366.7 134.3 400 150.5C433.3 166.7 466.7 188.3 500 193.8C533.3 199.3 566.7 188.7 600 182.5C633.3 176.3 666.7 174.7 700 168C733.3 161.3 766.7 149.7 800 151.2C833.3 152.7 866.7 167.3 883.3 174.7L900 182L900 601L883.3 601C866.7 601 833.3 601 800 601C766.7 601 733.3 601 700 601C666.7 601 633.3 601 600 601C566.7 601 533.3 601 500 601C466.7 601 433.3 601 400 601C366.7 601 333.3 601 300 601C266.7 601 233.3 601 200 601C166.7 601 133.3 601 100 601C66.7 601 33.3 601 16.7 601L0 601Z' fill='%23123b47'%3E%3C/path%3E%3Cpath d='M0 214L16.7 216C33.3 218 66.7 222 100 233.3C133.3 244.7 166.7 263.3 200 267.3C233.3 271.3 266.7 260.7 300 246C333.3 231.3 366.7 212.7 400 207.5C433.3 202.3 466.7 210.7 500 212C533.3 213.3 566.7 207.7 600 210.3C633.3 213 666.7 224 700 229C733.3 234 766.7 233 800 232.3C833.3 231.7 866.7 231.3 883.3 231.2L900 231L900 601L883.3 601C866.7 601 833.3 601 800 601C766.7 601 733.3 601 700 601C666.7 601 633.3 601 600 601C566.7 601 533.3 601 500 601C466.7 601 433.3 601 400 601C366.7 601 333.3 601 300 601C266.7 601 233.3 601 200 601C166.7 601 133.3 601 100 601C66.7 601 33.3 601 16.7 601L0 601Z' fill='%23103842'%3E%3C/path%3E%3Cpath d='M0 360L16.7 349C33.3 338 66.7 316 100 306C133.3 296 166.7 298 200 302.2C233.3 306.3 266.7 312.7 300 312C333.3 311.3 366.7 303.7 400 308.3C433.3 313 466.7 330 500 329.2C533.3 328.3 566.7 309.7 600 308.7C633.3 307.7 666.7 324.3 700 324C733.3 323.7 766.7 306.3 800 308.3C833.3 310.3 866.7 331.7 883.3 342.3L900 353L900 601L883.3 601C866.7 601 833.3 601 800 601C766.7 601 733.3 601 700 601C666.7 601 633.3 601 600 601C566.7 601 533.3 601 500 601C466.7 601 433.3 601 400 601C366.7 601 333.3 601 300 601C266.7 601 233.3 601 200 601C166.7 601 133.3 601 100 601C66.7 601 33.3 601 16.7 601L0 601Z' fill='%230e353d'%3E%3C/path%3E%3Cpath d='M0 453L16.7 446.2C33.3 439.3 66.7 425.7 100 413.3C133.3 401 166.7 390 200 398.5C233.3 407 266.7 435 300 433.2C333.3 431.3 366.7 399.7 400 384.3C433.3 369 466.7 370 500 371C533.3 372 566.7 373 600 375.5C633.3 378 666.7 382 700 390.2C733.3 398.3 766.7 410.7 800 413.3C833.3 416 866.7 409 883.3 405.5L900 402L900 601L883.3 601C866.7 601 833.3 601 800 601C766.7 601 733.3 601 700 601C666.7 601 633.3 601 600 601C566.7 601 533.3 601 500 601C466.7 601 433.3 601 400 601C366.7 601 333.3 601 300 601C266.7 601 233.3 601 200 601C166.7 601 133.3 601 100 601C66.7 601 33.3 601 16.7 601L0 601Z' fill='%230c3238'%3E%3C/path%3E%3Cpath d='M0 546L16.7 538.8C33.3 531.7 66.7 517.3 100 515.7C133.3 514 166.7 525 200 523.3C233.3 521.7 266.7 507.3 300 501.3C333.3 495.3 366.7 497.7 400 505.2C433.3 512.7 466.7 525.3 500 525C533.3 524.7 566.7 511.3 600 506.5C633.3 501.7 666.7 505.3 700 511.3C733.3 517.3 766.7 525.7 800 528.2C833.3 530.7 866.7 527.3 883.3 525.7L900 524L900 601L883.3 601C866.7 601 833.3 601 800 601C766.7 601 733.3 601 700 601C666.7 601 633.3 601 600 601C566.7 601 533.3 601 500 601C466.7 601 433.3 601 400 601C366.7 601 333.3 601 300 601C266.7 601 233.3 601 200 601C166.7 601 133.3 601 100 601C66.7 601 33.3 601 16.7 601L0 601Z' fill='%230b2f34'%3E%3C/path%3E%3C/svg%3E");

background-size: contain;
  filter: url('#goo');
  
}

@media (max-width: 1000px){ 
  .latarSVG {
  background-color: rgba(18, 59, 71, 1);
   background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%230b2f34'%3E%3C/rect%3E%3Cpath d='M0 219L16.7 220.5C33.3 222 66.7 225 100 225.2C133.3 225.3 166.7 222.7 200 203.5C233.3 184.3 266.7 148.7 300 136.2C333.3 123.7 366.7 134.3 400 150.5C433.3 166.7 466.7 188.3 500 193.8C533.3 199.3 566.7 188.7 600 182.5C633.3 176.3 666.7 174.7 700 168C733.3 161.3 766.7 149.7 800 151.2C833.3 152.7 866.7 167.3 883.3 174.7L900 182L900 601L883.3 601C866.7 601 833.3 601 800 601C766.7 601 733.3 601 700 601C666.7 601 633.3 601 600 601C566.7 601 533.3 601 500 601C466.7 601 433.3 601 400 601C366.7 601 333.3 601 300 601C266.7 601 233.3 601 200 601C166.7 601 133.3 601 100 601C66.7 601 33.3 601 16.7 601L0 601Z' fill='%23123b47'%3E%3C/path%3E%3Cpath d='M0 214L16.7 216C33.3 218 66.7 222 100 233.3C133.3 244.7 166.7 263.3 200 267.3C233.3 271.3 266.7 260.7 300 246C333.3 231.3 366.7 212.7 400 207.5C433.3 202.3 466.7 210.7 500 212C533.3 213.3 566.7 207.7 600 210.3C633.3 213 666.7 224 700 229C733.3 234 766.7 233 800 232.3C833.3 231.7 866.7 231.3 883.3 231.2L900 231L900 601L883.3 601C866.7 601 833.3 601 800 601C766.7 601 733.3 601 700 601C666.7 601 633.3 601 600 601C566.7 601 533.3 601 500 601C466.7 601 433.3 601 400 601C366.7 601 333.3 601 300 601C266.7 601 233.3 601 200 601C166.7 601 133.3 601 100 601C66.7 601 33.3 601 16.7 601L0 601Z' fill='%23103842'%3E%3C/path%3E%3Cpath d='M0 360L16.7 349C33.3 338 66.7 316 100 306C133.3 296 166.7 298 200 302.2C233.3 306.3 266.7 312.7 300 312C333.3 311.3 366.7 303.7 400 308.3C433.3 313 466.7 330 500 329.2C533.3 328.3 566.7 309.7 600 308.7C633.3 307.7 666.7 324.3 700 324C733.3 323.7 766.7 306.3 800 308.3C833.3 310.3 866.7 331.7 883.3 342.3L900 353L900 601L883.3 601C866.7 601 833.3 601 800 601C766.7 601 733.3 601 700 601C666.7 601 633.3 601 600 601C566.7 601 533.3 601 500 601C466.7 601 433.3 601 400 601C366.7 601 333.3 601 300 601C266.7 601 233.3 601 200 601C166.7 601 133.3 601 100 601C66.7 601 33.3 601 16.7 601L0 601Z' fill='%230e353d'%3E%3C/path%3E%3Cpath d='M0 453L16.7 446.2C33.3 439.3 66.7 425.7 100 413.3C133.3 401 166.7 390 200 398.5C233.3 407 266.7 435 300 433.2C333.3 431.3 366.7 399.7 400 384.3C433.3 369 466.7 370 500 371C533.3 372 566.7 373 600 375.5C633.3 378 666.7 382 700 390.2C733.3 398.3 766.7 410.7 800 413.3C833.3 416 866.7 409 883.3 405.5L900 402L900 601L883.3 601C866.7 601 833.3 601 800 601C766.7 601 733.3 601 700 601C666.7 601 633.3 601 600 601C566.7 601 533.3 601 500 601C466.7 601 433.3 601 400 601C366.7 601 333.3 601 300 601C266.7 601 233.3 601 200 601C166.7 601 133.3 601 100 601C66.7 601 33.3 601 16.7 601L0 601Z' fill='%230c3238'%3E%3C/path%3E%3Cpath d='M0 546L16.7 538.8C33.3 531.7 66.7 517.3 100 515.7C133.3 514 166.7 525 200 523.3C233.3 521.7 266.7 507.3 300 501.3C333.3 495.3 366.7 497.7 400 505.2C433.3 512.7 466.7 525.3 500 525C533.3 524.7 566.7 511.3 600 506.5C633.3 501.7 666.7 505.3 700 511.3C733.3 517.3 766.7 525.7 800 528.2C833.3 530.7 866.7 527.3 883.3 525.7L900 524L900 601L883.3 601C866.7 601 833.3 601 800 601C766.7 601 733.3 601 700 601C666.7 601 633.3 601 600 601C566.7 601 533.3 601 500 601C466.7 601 433.3 601 400 601C366.7 601 333.3 601 300 601C266.7 601 233.3 601 200 601C166.7 601 133.3 601 100 601C66.7 601 33.3 601 16.7 601L0 601Z' fill='%230b2f34'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  filter: url('#goo');
}
}
